<%-include("./header") %>

    <div class="contain"></div>
        <div class="bg-text">
        <div class="logininfo">
        <h3>click here to login as user...</h3>
        <a href="/login">user login!</a>
        <h3>click here to see users list...</h3>
        <a href="/users">see users</a>
        <h3>click here to maintain todo list...</h3>
        <a href="/lists">todolist!</a>
        </div>
    </div>

<%-include("./footer") %>        
